Source: debathena-athinfo
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
# FIXME: python-support should be replaced with dh_python2 once lucid
# is no longer supported.
Build-Depends: debhelper (>= 7), bash-completion, python2.7, dh-python
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/mit-athena/athinfo
Vcs-Git: git://github.com/mit-athena/athinfo -b debian

Package: debathena-athinfo
Architecture: all
Provides: athinfo
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python, netbase
X-Python-Version: 2.7
Description: An Athena utility to retrieve information about a workstation
 The athinfo tool queries a remote workstation using the athinfo daemon 
 for information about the workstation, such as its hardware type and 
 configuration, its current software installation state, the number of 
 users logged on, and various other informational state queries.
