Source: debathena-athinfo
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs, debhelper, dh-buildinfo, autoconf
Standards-Version: 3.9.3

Package: debathena-athinfo
Architecture: all
Provides: athinfo
Depends: ${shlibs:Depends}, ${misc:Depends}, python, netbase
Description: An Athena utility to retrieve information about a workstation
 The athinfo tool queries a remote workstation using the athinfo daemon 
 for information about the workstation, such as its hardware type and 
 configuration, its current software installation state, the number of 
 users logged on, and various other informational state queries.
